!!!
%html
%head
	%title Wiki
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%p.notice= notice
	%p.alert= alert

	= yield

	%ul
		%li= link_to "All Articles", root_path
		- Category.all.each do |category|
			%li= link_to category.name, articles_path(category: category.name)